extends layout

block content
  div.content_lop
    h2 Tạo Lớp Mới
    form(action="/" method="POST")
      div
        label(for="tittle") Tên lớp
        input(type="text" name="tenlop" required="required")
      div
        label(for="tittle") Chuyên ngành
        input(type="text" name="chuyennganh" required="required")
      div
        label(for="tittle") Giáo viên chủ nhiệm
        input(type="text" name="gvcn" required="required")
      div
        label(for="image") Ảnh đại diện (URL)
        input(type="text" name="image")
      div
        button(type="submit") Tạo Mới
